@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    font-family: 'Indie Flower', cursive;
    color: black;
}

a {
    color: #67529b;
}

a:hover {
    opacity: .7;
}

html, body {
    height: 100%;
}

body {
    background-color: #e6ebef;
    margin: 0;
}

.site {
    background-color: #32373B;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-height: 100%;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

header .header-content, footer .footer-content, main article, nav .nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

header .header-content, footer .footer-content, main .row {
    padding: 3em 0;
}

nav .nav {
    padding: 1em 0;
}

main .row {
    padding-top: 3em;
    padding-bottom: 5em;
    background: linear-gradient(white 60%, #e6ebef);
    border-bottom: solid 0.01em #c6cbcf;
}

nav {
    background: linear-gradient(#969b9f 50%, #868b8f);
    border-bottom: solid 0.01em #666b6f;
    color: white;
}

header {
    background: linear-gradient(#42474B 70%, #32373B);
    border-bottom: solid 0.01em #12171B;
    color: white;
}

footer {
    background: #32373B;
    color: white;
}

footer a, nav a {
    color: white;
}

header h1 {
    margin: 0;
}

header * {
    color: white;
    text-decoration: none;
}

article h2 a {
    color: black;
    text-decoration: none;
}

header p {
    font-size: 1.3em;
    margin: 0;
}

header .image {
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

input, button, select, option, textarea {
    font-size: 1.2em;
    padding: .4em .6em;
    margin-top: 0.5em;
    border: solid 1px black;
    background: white;
    color: black;
}

button {
    cursor: pointer;
    background: black;
    color: white;
}

button:hover {
    background: white;
    color: black;
}

main article {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

main h2, main p {
    margin: 0 0 .4em 0;
}

main article .photos {
    position: relative;
}

main article .photo {
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    margin: .5em .5em 0 0;
    border: solid 0.01em white;
    box-sizing: border-box;
    border-radius: .5em;
    height: 8em;
    width: 8em;
    object-fit: cover;
    cursor: pointer;
    transition: border .5s, box-shadow .5s;
}

main article .photo:hover {
    border: solid 0.01em black;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
    transition: border .5s, box-shadow .5s;
}

main article .show .photo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
}

main article .show {
    width: 100%;
    position: relative;
}

main article .created img {
    height: 1.2em;
    margin-bottom: -.3em;
}

.photo-gallery-left {
    left: -58px;
}

.photo-gallery-right {
    right: -58px;
}

.follow {
    position: absolute;
    top: 2em;
    right: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px 0 0 10px;
    padding: .6em 1em .5em .6em;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    font-size: 1.2em;
    color: white;
    display: none;
}

.follow:hover {
    background-color: rgba(0, 0, 0, 1);
}

.follow img {
    float: left;
    height: 1.5em;
    margin: -.1em .5em 0 0;
}

@media only screen and (max-width: 1200px) {

    .photo-gallery-left {
        left: -12px;
    }

    .photo-gallery-right {
        right: -12px;
    }

}

@media only screen and (max-width: 1100px) {

    header .header-content, footer .footer-content, main .row {
        padding: 2em 1.5em;
    }

    nav .nav {
        padding: 1em 1.5em;
    }

    main .row {
        padding-top: 3em;
        padding-bottom: 5em;
    }

    main article .photo {
        height: 6em;
        width: 6em;
    }

    .follow {
        top: 1em;
    }

}

.mt-1 {
    margin-top: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.error {
    color: red;
}

.lds-ripple {
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid black;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.photo-gallery-left, .photo-gallery-right {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.photo-gallery-left:hover, .photo-gallery-right:hover {
    opacity: .5;
}

.emoticon {
    margin: -.3em;
    width: 2em;
}

.loose {
    position: absolute;
}

.comment-form {
    opacity: 0;
    transition: 1s;
}

.comment {
    margin: 2em 0;
}

.comment:last-of-type {
    margin-bottom: 0;
}

.comment:first-of-type {
    margin-top: 1em;
}

.comment .creator-name {
    font-weight: bold;
}

.comment .creator {
    font-size: 1.2em;
}

.comment .creator, .comment .comment {
    margin-top: .4em;
}

.comments {
    margin-top: 1em;
    font-size: 1.1em;
}

.comments * {
    color: #67529b;
}

.comments img {
    height: 1.3em;
    margin-bottom: -.4em;
}

.info {
    color: #7860b7;
}

.info img {
    height: 2.2em;
    margin-bottom: -.8em;
}

.article-content {
    font-size: 1.1em;
}

.embedded-videos iframe {
    width: 600px;
    height: calc(600px * 0.75);
}

@media only screen and (max-width: 1100px) {
    .embedded-videos iframe {
        width: 100%;
        height: calc(100vw * 0.75);
    }
}
