<!DOCTYPE html>
<html xml:lang="de" lang="de">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="title" content="{{ title }}"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="author" content="Heiko Schmidt"/>
    <meta name="date" content="2022-01-29"/>
    <meta name="language" content="de"/>
    <meta name="rights" lang="de" content="Alle Rechte liegen beim Autor"/>
    <meta name="keywords" content="Heiko Schmidt, Jesseka Lier, Haus, Hausbau, Traumhaus"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:site_name" content="{{ title }}"/>
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:locale" content="de_DE"/>
    <link rel="stylesheet" type="text/css" href="/assets/main.css{{ version }}" media="all"/>
    {% if login_state %}
    <link rel="stylesheet" type="text/css" href="/assets/cms.css{{ version }}" media="all"/>
    {% endif %}
</head>
<body>
<header>
    <div class="image"></div>
    <div class="header-content">
        <div class="title">
            <h1><a href="/">{{ title }}</a></h1>
            <p>{{ subtitle }}</p>
        </div>
    </div>
</header>
<nav class="header-nav">
    {% block navigation %}
    {% endblock %}
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
<nav class="footer-nav">
    {{ block('navigation') }}
</nav>
<footer>
    <div class="footer-content">
        <div class="meta-nav">
            {% if not login_state %}
            <a href="/login">Login</a> :
            {% endif %}
            {% if login_state %}
            <a href="/cms">Redaktion</a> :
            <a href="/logout">Logout</a> :
            {% endif %}
            <a href="https://icons8.com" target="_blank">Icons by Icons8</a>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/main.js{{ version }}"></script>
{% if login_state %}
<script type="text/javascript" src="/assets/cms.js{{ version }}"></script>
{% endif %}
</body>
</html>
