{% extends "cms.html" %}
{% block cms_content %}
<div class="tr table-head">
    <div class="td" style="width: 25%;">Erstellt</div>
    <div class="td" style="width: 30%;">Titel</div>
    <div class="td" style="width: 20%;">Vorschau</div>
    <div class="td" style="width: 25%;">Aktionen</div>
</div>
{% for photo in photos %}
<div class="tr">
    <div class="td" style="width: 25%;">{{ photo.uploaded }} Uhr</div>
    <div class="td" style="width: 30%;">{{ photo.title }}</div>
    <div class="td" style="width: 20%;"><img
            src="{{ base_url }}/photos/{{ photo.pk_photo }}/tn/{{ photo.id }}.{{ photo.thumbnail_type }}"
            class="cms-table-photo"/>
    </div>
    <div class="td" style="width: 25%;">
        <a href="/cms/photos/{{ photo.pk_photo }}">bearbeiten</a>
        <a href="javascript:if(confirm('Foto wirklich löschen?')){window.location.href='/cms/photos/{{ photo.pk_photo }}/delete';}">löschen</a>
    </div>
</div>
{% endfor %}
{% endblock %}