{% extends "base.html" %}
{% block content %}
<div class="row">
    <article>
        <form method="POST" action="{{ url }}" class="cms-form">
            <p>
                <label for="created">Erstellt</label><br>
                <input type="datetime-local" id="created" name="created" value="{{ article.created }}">
            </p>
            <br>
            <p>
                <label for="title">Titel</label><br>
                <input type="text" placeholder="Titel" id="title" name="title" value="{{ article.title }}"
                       style="width:90%;">
            </p>
            <br>
            <p>
                <label for="content">Inhalt</label><br>
                <textarea placeholder="Inhalt" id="content" name="content" rows="16"
                          style="width:90%;">{{ article.content }}</textarea>
            </p>
            {% for emoticon in emoticons %}
            <img src="/assets/icons/icons8-{{ emoticon }}-48.png" class="emoticon" data-emoticon="{{ emoticon }}">
            {% endfor %}
            <br><br>
            <p>
                <label for="published">Online</label><br>
                <input type="checkbox" id="published" name="published" {% if article.published== 1 %}checked{% endif %}>
            </p>
            {% if photos|length > 0 %}
            <br>
            <label>Fotos auswählen</label><br>
            <div class="cms-photos">
                <input type="hidden" id="photos" name="photos"
                       value="{{ article.photos|column('pk_photo')|join(';') }}">
                {% for i, photo in photos %}
                {% set position = '' %}
                {% set cms_selected = '' %}
                {% if photo.pk_photo in article.photos|column('pk_photo') %}
                {% set position = article.photos|filter(p => p.pk_photo == photo.pk_photo)|first.position %}
                {% set cms_selected = ' cms-selected' %}
                {% endif %}
                <div class="cms-photo-wrapper">
                    <div class="cms-photo-position" id="photo-position-{{ photo.pk_photo }}">{{ position }}</div>
                    <img class="cms-photo{{ cms_selected }}"
                         src="{{ base_url }}/photos/{{ photo.pk_photo }}/tn/{{ photo.id }}.{{ photo.thumbnail_type }}"
                         data-photo="{{ photo.pk_photo }}"/>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if message %}
            <br>
            <p class="error">
                {{ message }}
            </p>
            {% endif %}
            <br>
            <p>
                <button type="submit">Speichern</button>
                <a href="/cms/articles">
                    <button type="button">Zurück</button>
                </a>
            </p>
        </form>
    </article>
</div>
{% endblock %}
