{% extends "base.html" %}
{% block content %}
<div class="row">
    <article>
        <form method="POST" action="/login">
            <p>
                <label for="code">Code</label><br>
                <input type="password" placeholder="code" id="code" name="code">
            </p>
            {% if message %}
            <p class="error">
                {{ message }}
            </p>
            {% endif %}
            <p>
                <button type="submit">Anmelden</button>
            </p>
        </form>
    </article>
</div>
{% endblock %}
